from typing import Annotated

from fastapi import APIRouter, Depends, status
from sqlalchemy.orm import Session

from app.auth.dependencies import get_current_active_user
from app.db.session import get_db
from app.dependencies.pagination import Pagination, get_pagination
from app.models.user import User
from app.schemas.{{ module_name }} import (
    {{ model_name }}Create,
    {{ model_name }}Read,
    {{ model_name }}Update,
)
from app.services.{{ module_name }} import {{ model_name }}Service

router = APIRouter()
DbSession = Annotated[Session, Depends(get_db)]
CurrentUser = Annotated[User, Depends(get_current_active_user)]
PaginationDep = Annotated[Pagination, Depends(get_pagination)]


@router.post(
    "/",
    response_model={{ model_name }}Read,
    status_code=status.HTTP_201_CREATED,
)
def add_{{ module_name }}_router(
    payload: {{ model_name }}Create,
    user: CurrentUser,
    db: DbSession,
):
    return {{ model_name }}Service(db).create(payload)


@router.get("/", response_model=list[{{ model_name }}Read])
def get_{{ resource_name }}_router(
    user: CurrentUser,
    db: DbSession,
    pagination: PaginationDep,
):
    return {{ model_name }}Service(db).list(pagination.limit, pagination.offset)


@router.get("/{{ '{' }}{{ module_name }}_id{{ '}' }}", response_model={{ model_name }}Read)
def get_{{ module_name }}_router(
    {{ module_name }}_id: int,
    user: CurrentUser,
    db: DbSession,
):
    return {{ model_name }}Service(db).get({{ module_name }}_id)


@router.patch("/{{ '{' }}{{ module_name }}_id{{ '}' }}", response_model={{ model_name }}Read)
def update_{{ module_name }}_router(
    {{ module_name }}_id: int,
    payload: {{ model_name }}Update,
    user: CurrentUser,
    db: DbSession,
):
    return {{ model_name }}Service(db).update(payload, {{ module_name }}_id)


@router.delete(
    "/{{ '{' }}{{ module_name }}_id{{ '}' }}",
    status_code=status.HTTP_204_NO_CONTENT,
)
def delete_{{ module_name }}_router(
    {{ module_name }}_id: int,
    user: CurrentUser,
    db: DbSession,
):
    return {{ model_name }}Service(db).delete({{ module_name }}_id)
