from sqlalchemy.orm import Session

from app.core.errors import AppError
from app.models.{{ module_name }} import {{ model_name }}
from app.repositories.{{ module_name }} import {{ model_name }}Repository
from app.schemas.{{ module_name }} import {{ model_name }}Create, {{ model_name }}Update


class {{ model_name }}Service:
    def __init__(self, db: Session):
        self.db = db
        self.repository = {{ model_name }}Repository(db)

    def create(self, payload: {{ model_name }}Create) -> {{ model_name }}:
        {{ module_name }} = self.repository.create(
            title=payload.title,
            description=payload.description,
        )

        self.db.commit()
        self.db.refresh({{ module_name }})

        return {{ module_name }}

    def list(
        self,
        limit: int | None = None,
        offset: int = 0,
    ) -> list[{{ model_name }}]:
        return self.repository.list(limit, offset)

    def get(self, {{ module_name }}_id: int) -> {{ model_name }}:
        {{ module_name }} = self.repository.get_by_id({{ module_name }}_id)

        if {{ module_name }} is None:
            raise AppError(404, "{{ model_name }} not found")

        return {{ module_name }}

    def update(
        self,
        payload: {{ model_name }}Update,
        {{ module_name }}_id: int,
    ) -> {{ model_name }}:
        {{ module_name }} = self.repository.get_by_id({{ module_name }}_id)

        if {{ module_name }} is None:
            raise AppError(404, "{{ model_name }} not found")

        updated_fields = payload.model_dump(exclude_unset=True)
        {{ module_name }} = self.repository.update({{ module_name }}, updated_fields)

        self.db.commit()
        self.db.refresh({{ module_name }})

        return {{ module_name }}

    def delete(self, {{ module_name }}_id: int) -> None:
        {{ module_name }} = self.repository.get_by_id({{ module_name }}_id)

        if {{ module_name }} is None:
            raise AppError(404, "{{ model_name }} not found")

        self.repository.delete({{ module_name }})
        self.db.commit()
