{% if database == "postgres" -%}
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/app
TEST_DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/app_test
{% else -%}
DATABASE_URL=sqlite:///./app.db
TEST_DATABASE_URL=sqlite:///./app_test.db
{% endif %}
